<div class="navbar navbar-header">
  <div class="navbar-inner">
    <div>
      <p class="lead-small lead">{{release/id}}</p>
    </div>
    <div class="project-stats">
      Estimated finish: {{formatDate finish}}
    </div>
  </div>
</div>
