<table class="table wrap stories">
  {{#stories}}
    {{#stories}}
      <tr class="{{current_state}}">
        <td class="story-type">
          <i class="{{iconClassFor story_type}}"/>
        </td>
        <td class="estimate">
          <small><strong>{{estimateString estimate}}</strong></small>
        </td>
        <td>
          {{name}}
        </td>
      </tr>
    {{/stories}}
  {{/stories}}
</table>
