a {
  color: #748599;
}

.accordion-heading {
  background-color: #F2F2F2;
}

.accordion-inner {
  padding: 0;
}

.badge {
  margin-right: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

.badge-started {
  background-color: #452B72;
}

.badge-finished {
  background-color: #127A97;
}

.badge-delivered {
  background-color: #F9BA15;
}

.badge-accepted {
  background-color: #8EAC00;
}

.badge-rejected {
  background-color: #BF0C43;
}

.dashboard-table {
  width: 100%;
}

.dashboard-table tbody tr td {
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
}

.dashboard-table tbody tr td:first-child {
  padding-left: 0px;
  padding-right: 10px;
}

.dashboard-table tbody tr td:last-child {
  padding-left: 10px;
  padding-right: 0px;
}

header {
  background-image: url('../img/header.png');
  background-color: #F0F6FF;
  background-size: contain;
  height: 72px;
  margin-bottom: 20px;
  vertical-align: middle;
}

header h3 {
  color: #748599;
  margin: 0;
  padding: 14px 24px;
}

.navbar-header .navbar-inner {
  background-color: #748599;
  background-image: none;
  border-color: #748599;
}

.navbar-header .lead {
  color: #FFFFFF;
  padding: 8px 0px;
}

p.lead {
  margin-bottom: 0;
  text-transform: capitalize;
}

.progress-striped .bar-started {
  background-color: #452B72;
}

.progress-striped .bar-finished {
  background-color: #127A97;
}

.progress-striped .bar-delivered {
  background-color: #F9BA15;
}

.progress-striped .bar-accepted {
  background-color: #8EAC00;
}

.progress-striped .bar-rejected {
  background-color: #BF0C43;
}

.project-stats {
  color: #FFFFFF;
  margin-bottom: 8px;
  margin-top: -5px;
}

.stats-inner {
  background-color: #F2F2F2;
  margin-top: -5px;
  padding: 0px 15px 8px 15px;
}

table.wrap {
  table-layout: fixed;
}

table.wrap tbody tr td:first-child {
  padding: 5px 10px;
}

table.wrap td {
  padding: 5px 10px;
  white-space: normal;
}

.stories {
  margin-bottom: 0;
}

.stories .started td {
  background-color: #F7E8FC;
/*  color: #150042;*/
}

.stories .finished td {
  background-color: #E8FBFC;
/*  color: #004A67;*/
}

.stories .delivered td {
  background-color: #FCFCE8;
/*  color: #B98A00;*/
}

.stories .accepted td {
  background-color: #EFFCE8;
/*  color: #5E7C00;*/
}

.stories .rejected td {
  background-color: #FCE8E8;
/*  color: #8F0C13;*/
}
