// Projects and project labels

.project {
  padding: 0.5em 0;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;

  input[type="checkbox"] {
    margin-top: -3px;
  }

  section {
    margin: 0 1em;
  }

  .labels {
    label {
      padding: 0.3em;
      background: rgba(238,238,238,0.1);
      border: 1px solid rgba(238,238,238, 1);
      color: #999;
      &:hover {
        background: rgba(238,238,238,0.3);
      }
      &.selected {
        background: rgba(209,225,255,0.5);
        border-color: rgba(209,225,255,0.8);
        color: #000;
        &:hover {
          background: rgba(209,225,255,0.6);
        }
      }
    }
  }
}

