a {
  color: #748599;
}

.accordion-heading {
  background-color: #F2F2F2;
}

.accordion-inner {
  padding: 0;
}

.badge {
  font-weight: normal;
  margin-right: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

.badge-started {
  background-color: #583D87;
}

.badge-finished {
  background-color: #127A97;
}

.badge-delivered {
  background-color: #EBA300;
}

.badge-accepted {
  background-color: #809900;
}

.badge-rejected {
  background-color: #BF0C43;
}

.dashboard-table {
  width: 100%;
}

.dashboard-table tbody tr td {
  padding-left: 10px;
  padding-right: 5px;
  vertical-align: top;
}

.dashboard-table tbody tr td:first-child {
  padding-left: 0px;
  padding-right: 10px;
}

.dashboard-table tbody tr td:last-child {
  padding-left: 5px;
  padding-right: 10px;
}

header {
  background-image: url('../img/header.png');
  background-color: #F0F6FF;
  background-size: contain;
  height: 72px;
  margin-bottom: 20px;
  vertical-align: middle;
}

header h3 {
  color: #748599;
  margin: 0;
  padding: 14px 24px;
}

.icon-feature, .icon-bug, .icon-chore {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0px;
  line-height: 18px;
  vertical-align: text-top;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.icon-bug {
  background-image: url('../img/icon-bug.png');
}

.icon-chore {
  background-image: url('../img/icon-chore.png');
}

.icon-feature {
  background-image: url('../img/icon-feature.png');
}

.lead-small {
  font-size: 18px;
}

.logo {
  display: inline-block;
  width: 128px;
  height: 38px;
  margin: 12px 20px;
  vertical-align: text-top;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-image: url('../img/logo.png');
}

.navbar-header .navbar-inner {
  background-color: #748599;
  background-image: none;
  border-color: #748599;
}

.navbar-header .lead {
  color: #FFFFFF;
  padding: 8px 0px;
}

p.lead {
  margin-bottom: 0;
  text-transform: capitalize;
}

.progress-container {
    position: relative;
}

.progress-velocity {
    position: absolute;
    width: 2px;
    top: -3px;
    bottom: -3px;

    border-left: 1px dotted #000;
    border-right: 1px dotted #000;
    background-color: rgba(0, 0, 0, 0.5);
}

.progress-striped {
  margin: 3px 0 23px;
}

.progress-striped .bar {
  overflow: hidden;
  font-size: 12px;
  padding-left: 5px;
  text-align: left;
}

.progress-striped .bar-started {
  background-color: #583D87;
}

.progress-striped .bar-finished {
  background-color: #127A97;
}

.progress-striped .bar-delivered {
  background-color: #EBA300;
}

.progress-striped .bar-accepted {
  background-color: #809900;
}

.progress-striped .bar-rejected {
  background-color: #BF0C43;
}

.project-stats {
  color: #FFFFFF;
  margin-bottom: 8px;
  margin-top: -5px;
}

.detail-stats {
  color: #666;
  font-size: 11px;
  font-style: italic;
  margin-top: -5px;
  margin-bottom: 5px;
}

.stats-inner {
  background-color: #F2F2F2;
  margin-top: -5px;
  padding: 0px 15px 8px 15px;
}

.stats-inner .count {
  float: left;
}

.stats-inner .story-type {
  float: right;
}

table.wrap {
  table-layout: fixed;
}

table.wrap tbody tr td:first-child {
  padding: 5px 0px 0px 15px;
}

table.wrap td {
  line-height: 25px;
  padding: 5px 5px 5px 10px;
  white-space: normal;
}

.stories {
  margin-bottom: 0;
}

td .estimate {
  width: 10px;
}

td .story-type {
  width: 15px;
}

.stories .started td {
  background-color: #EAE8F0;
}

.stories .finished td {
  background-color: #E8F1F4;
}

.stories .delivered td {
  background-color: #FEF8E4;
}

.stories .accepted td {
  background-color: #F3F6E4;
}

.stories .rejected td {
  background-color: #F7E6EB;
}


/* forms */
.field_with_errors input {
  background-color: #ffcccc;
}

.checkbox-list {
  float: left;
  margin-right: 10px;
}

.project {
  overflow: hidden;
}

select.metric {
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav label {
  line-height: 30px;
  margin-right: 15px;
  padding-left: 5px;
  margin-top: 5px;
}

.nav input[type=checkbox] {
  margin: 9px 5px 0 0;
}
