<table class="table wrap stories">
  {{#stories}}
    <tr class="{{current_state}}">
      <td width="10%">
        <i class="{{iconClassFor story_type}}" />
      </td>
      <td width="90%">
        {{name}}
      </td>
    </tr>
  {{/stories}}
</table>
