<div class="navbar navbar-header">
  <div class="navbar-inner">
    <div>
      <p class="lead">{{name}}</p>
    </div>
    <div class="project-stats">
      Sprint ends: {{formatDate currentIteration/finish}}
    </div>
  </div>
</div>
