{{#projects}}
  <td id="project-{{id}}" width="{{../cellWidth}}%" nowrap>
    {{> _projects_header}}
    {{#currentIteration}}
      {{> _shared_progress}}
      {{> _projects_epics}}
    {{/currentIteration}}
  </td>
{{/projects}}
