{{#projects}}
  <td id="project-{{id}}" width="{{../cellWidth}}%" nowrap>
    {{> _projects_header}}
    {{#currentIteration}}
      {{#stories}}
        {{> _shared_progress}}
      {{/stories}}
      {{> _projects_epics}}
    {{/currentIteration}}
  </td>
{{/projects}}
