{{consoleLog}}
{{#projects}}
  <td id="project-{{id}}" width="{{../cellWidth}}%" nowrap>
    {{#currentIteration}}
      {{consoleLog}}
      {{> _projects_header}}
      {{> _projects_progress}}
      {{> _projects_epics}}
    {{/currentIteration}}
  </td>
{{/projects}}
